/* ==== DECLARATION VARIABLE ==== */
html {
  /* Colors */
  --color-black: #121212;
  --color-white: #FEFEFE;

  /* Spacing */

  /* Fonts */
  --font-alata: 'Alata', sans-serif;
  --font-josefin-sans: 'Josefin Sans', sans-serif;
}

/* ==== GENERAL STYLE ==== */
body {
  position: relative;
  font-family: var(--font-alata);
}

/* ==== HEADER ==== */
.header-mobile {
  z-index: 100;
  padding: 4rem 2rem;
  display: flex;
  justify-content: space-between;
  transition: all .2s;
}
.header-mobile--menu-open {
  background: var(--color-black);
}

.header-mobile__icon-menu {
  width: 1.5rem;
  height: fit-content;
  transition: all .2s;
}

.header-mobile__icon-close {
  width: 1.5rem;
  height: fit-content;
  transition: all .2s;
}

.header-mobile__icon--hidden {
  display: none;
}

/* ==== NAVIGATION ==== */
.navigation {
  padding-left: 2rem;
  z-index: 99;
  position: absolute;
  top: 6rem;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  background: var(--color-black);
  transition: all .3s;
}
.navigation__link {
  color: var(--color-white);
  font-family: var(--font-josefin-sans);
  font-size: 2rem;
  text-transform: uppercase;
}

.navigation--hidden {
  display: none;
}

/* ==== REFERENCE ==== */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
