/* ==== DECLARATION VARIABLE ==== */
html {
  /* Colors */
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-dark-gray: hsl(0, 0%, 55%);
  --color-very-dark-gray: hsl(0, 0%, 41%);
  /* Fonts */
  --font-alata: 'Alata', sans-serif;
  --font-josefin-sans: 'Josefin Sans', sans-serif;
}

/* ==== GENERAL STYLE ==== */
body {
  height: 300vh;
  position: relative;
  font-size: 15px;
  font-family: var(--font-alata);
}

/* ==== UTILITARY ==== */
.display--hidden {
  display: none !important;
}

/* ==== HEADER ==== */
.header {
  padding: 3rem 2rem;
  width: 100%;
  height: 100vh;
  background-image: url(../images/mobile/image-hero.jpg);
  background-size: cover;
  color: var(--color-white);
}
.header__navigation {
  margin-bottom: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 156px;
}
.menu {
  display: none;
}
.header__icon-menu {
  width: 1.5rem;
}
.header__title {
  padding: 1rem;
  border: 2px solid var(--color-white);
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--font-josefin-sans);
  font-size: 2.5em;
}

/* ==== ASIDE MENU ==== */
.aside-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--color-black);
}
.aside-menu__header {
  margin-bottom: 15vh;
  padding: 3rem 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aside-menu__icon-close {
  width: 1.5rem;
}
.aside-menu__menu {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.aside-menu__link {
  text-transform: uppercase;
  font-family: var(--font-josefin-sans);
  font-size: 1.5rem;
  color: var(--color-white);
}

/* ==== SECTION ABOUT ==== */
.about {
  padding: 3rem 1.5rem;
}
.about__img {
  margin-top: 3rem;
}
.about__title {
  margin-top: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  font-family: var(--font-josefin-sans);
  font-weight: 300;
}
.about__desc {
  padding: 1rem;
  text-align: center;
  color: var(--color-dark-gray);
}

/* ==== SECTION CREATION ===== */
.creation {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.creation__title {
  margin: 2rem 0;
  text-transform: uppercase;
  font-size: 2.2em;
  font-weight: 300;
  font-family: var(--font-josefin-sans);
}
.creation-card {
  padding: 1rem;
  width: 100%;
}
.creation-card__title {
  margin-top: 3em;
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: var(--font-josefin-sans);
  color: var(--color-very-dark-gray);
}
.creation__btn {
  margin: 2rem;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  border: 2px solid var(--color-black);
}

/* ==== REFERENCE ==== */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
